body {
  background-color: #96ceb4;
  font-family: 'Itim', cursive;
  padding: 10px;
}

textarea {
  resize: none;
}

button {
  margin: 5px;
}

.container {
  text-align: center;
}

.panel {
  border: none;
  text-align: left;
}


/*TITLE*/

.jumbotron {
  background-color: #ffeead;
  color: #96ceb4;
}
